<footer>
    <div class="f-info">
        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-privacy">
             &copy;WanderLust Private Limited

        </div>
        <div class="f-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>